header {
  width: 100%;
}

header nav {
  padding-top: 12px;
  padding-bottom: 30px;
}

header nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

header nav ul li {
  margin: 0px 15px;
}

header nav ul li a {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
}

header nav ul li a:hover {
  color: #ffa41c;
}

header nav .menu {
  display: block;
}

header nav .bars {
  border: 2px solid #ffa41c;
  padding: 6px 10px;
  color: black;
  background: transparent;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  margin: 0px 15px;
  display: none;
}

header .carousel {
  width: 100%;
  height: 600px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

header .carousel .carousel-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

header .carousel .carousel-img .carousel-img-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 700ms;
  -o-transition: opacity 700ms;
  transition: opacity 700ms;
}

header .carousel .carousel-img .carousel-img-box img {
  width: 100%;
}

header .carousel .carousel-img .carousel-img-box .text {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.1);
  padding: 50px 100px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

header .carousel .carousel-img .carousel-img-box .text h1 {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 5px;
  color: white;
  text-align: center;
}

header .carousel .carousel-img .carousel-img-box .text h1 span {
  display: block;
  font-size: 70px;
  font-weight: 900;
  color: #ffa41c;
}

header .carousel .button {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

header .carousel .btn {
  border: 2px solid #ffa41c;
  border-radius: 5px;
  padding: 10px 20px;
  color: #ffa41c;
  background-color: black;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.5;
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

header .carousel .btn:hover {
  opacity: 1;
}

section .award {
  margin-top: 100px;
}

section .award .img-card img {
  border-radius: 5px;
}

section .award .text-card {
  padding: 0px 10px;
  margin-bottom: 50px;
}

section .award .text-card h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

section .award .text-card p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
}

section .activites {
  width: 100%;
  margin-top: 100px;
  position: relative;
  overflow: hidden;
}

section .activites .activetes-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

section .activites .activetes-wrap .box {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
}

section .activites .activetes-wrap .box img {
  max-width: 100%;
  width: 100%;
  height: 500px;
}

section .activites .activetes-wrap .box .big {
  display: none;
  height: 510px;
}

section .activites .activetes-wrap .box .activities-text {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0%;
  padding-left: 20px;
  padding-bottom: 35px;
  background: rgba(0, 0, 0, 0.2);
}

section .activites .activetes-wrap .box .activities-text h3 {
  font-size: 40px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}

section .activites .activetes-wrap .box .activities-text:hover h3 {
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
  cursor: pointer;
  color: #ffa41c;
}

section .activites .activetes-wrap .box .activities-text p {
  font-size: 16px;
  font-weight: 100;
  color: white;
}

section .rooms {
  margin-top: 100px;
}

section .rooms .box-room .room-text h3 {
  font-size: 16px;
  font-weight: 700;
  color: black;
  margin: 10px 0px;
}

section .rooms .box-room .room-text p {
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
}

section .weather {
  width: 100%;
  height: 550px;
  background-attachment: fixed;
  margin-top: 100px;
  background: url("../img/bgwinter_02.png") no-repeat center center / cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

section .weather h2 {
  color: #ffa41c;
  text-shadow: 2px 2px 2px black;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 5px;
}

section .weather p {
  font-size: 16px;
  color: #ffa41c;
  text-shadow: 2px 2px 2px black;
  font-weight: 100;
  text-align: center;
  line-height: 30px;
}

section .weather .call {
  display: block;
  margin-top: 10px;
  padding: 12px 50px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  border: 4px solid #ffa41c;
  border-radius: 5px;
  background: transparent;
  letter-spacing: 5px;
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
  color: black;
}

section .weather .call:hover {
  color: #ffa41c;
}

footer {
  width: 100%;
  background: #252525;
  padding: 40px 0px;
  margin-top: 100px;
}

footer p {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

footer p::after {
  content: "";
  width: 20%;
  height: 4px;
  background: #ffa41c;
  display: block;
  margin: 5px 0px;
}

footer ul li {
  margin: 10px 0px;
}

footer ul li a {
  color: white;
  font-size: 14px;
  display: block;
  font-weight: 500;
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
}

footer ul li a:hover {
  color: #ffa41c;
}

footer .social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .social li {
  margin: 0px 15px;
}

footer .social li a {
  font-size: 16px;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  min-width: 320px;
  font-family: "etelkReg";
  text-decoration: none;
  position: relative;
}

h2 {
  font-size: 50px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 3px;
}

.active-cl {
  opacity: 1 !important;
}

.active-winter {
  position: absolute !important;
  bottom: 0;
  left: 0;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  width: 100% !important;
  z-index: 111;
}

.mb_10 {
  margin-bottom: 20px;
}

/* System GRID */

.paper {
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

.paper-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.box-1 {
  width: calc(100% / 12 * 1);
  padding: 0px 15px;
}

.box-2 {
  width: calc(100% / 12 * 2);
  padding: 0px 15px;
}

.box-3 {
  width: calc(100% / 12 * 3);
  padding: 0px 15px;
}

.box-4 {
  width: calc(100% / 12 * 4);
  padding: 0px 15px;
}

.box-5 {
  width: calc(100% / 12 * 5);
  padding: 0px 15px;
}

.box-6 {
  width: calc(100% / 12 * 6);
  padding: 0px 15px;
}

.box-7 {
  width: calc(100% / 12 * 7);
  padding: 0px 15px;
}

.box-8 {
  width: calc(100% / 12 * 8);
  padding: 0px 15px;
}

.box-9 {
  width: calc(100% / 12 * 9);
  padding: 0px 15px;
}

.box-10 {
  width: calc(100% / 12 * 10);
  padding: 0px 15px;
}

.box-11 {
  width: calc(100% / 12 * 11);
  padding: 0px 15px;
}

.box-12 {
  width: calc(100% / 12 * 12);
  padding: 0px 15px;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 1199px) {
  header .carousel {
    height: 420px;
  }

  header .carousel .carousel-img .carousel-img-box .text h1 {
    font-size: 40px;
  }

  section .activites .activetes-wrap .box .activities-text h3 {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  header nav ul li {
    margin: 0px 5px;
  }

  header nav ul li a {
    font-size: 14px;
  }

  header .carousel .carousel-img .carousel-img-box .text {
    padding: 15px 0px;
    top: 35%;
  }

  section .award {
    margin-top: 50px;
  }

  section .activites {
    margin-top: 50px;
  }

  section .activites .activetes-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  section .activites .activetes-wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  section .activites .activetes-wrap .box {
    width: calc(100% / 12 * 5);
    margin: 30px 10px;
  }

  section .activites .activetes-wrap .box .activities-text {
    background: transparent;
  }

  section .rooms {
    margin-top: 50px;
  }

  section .rooms .box-room .room-img {
    margin: 0px 10px;
  }

  section .rooms .box-room .room-text {
    margin: 0px 10px;
  }

  section .weather {
    margin-top: 50px;
  }

  h2 {
    font-size: 30px;
  }

  .md-mb-10 {
    margin-bottom: 20px;
  }

  .md-box-6 {
    width: calc(100% / 12 * 6);
    padding: 0px 15px;
  }

  .md-box-12 {
    width: calc(100% / 12 * 12);
    padding: 0px 15px;
  }

  .md-d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .md-d-block {
    display: block !important;
  }

  .md-d-none {
    display: none;
  }

  .md-justify-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  header nav .menu {
    display: none;
  }

  header nav .bars {
    display: block;
  }

  header .carousel {
    display: none;
  }

  section .award {
    margin-top: 20px;
  }

  section .activites {
    margin-top: 20px;
  }

  section .activites .activetes-wrap .box {
    width: calc(100% / 12 * 12);
    margin: 30px 10px;
  }

  section .rooms {
    margin-top: 20px;
  }

  section .weather {
    margin-top: 20px;
  }

  section .weather h2 {
    font-size: 30px;
  }

  .sm-d-block {
    display: block !important;
  }

  .sm-box-12 {
    width: calc(100% / 12 * 12);
    padding: 0px 15px;
  }

  .sm-box-6 {
    width: calc(100% / 12 * 6);
    padding: 0px 15px;
  }

  .sm-box-4 {
    width: calc(100% / 12 * 4);
    padding: 0px 15px;
  }
}